@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

main {
    margin-left: 30px;
    font-size: 20px;
}

/* Abaixo está o CSS do cabeçalho do site.*/
header {
    height: 100px;
    margin-bottom: 135px;
}

h1 {
    margin: 0;
    display: inline;
    position: absolute;
    left: 43.5%;
    top: 100px;
    color: black;
    font-size: 20px;

}

.logonome img {
    width: 110px;
    height: 110px;
    margin: 0;
    margin-top: 10px;
    position: relative;
    margin-left: 40px;
    left: 39.5%;
}

.logonome {
    position: relative;
    top: 110px;
    left: 4%;
}



.barradenavegacao {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 0;
    position: relative;
    top: 110px;
    background-color: #001A53;
    height: 70px;
}

.barradenavegacao li {
    padding: 20px 20px 20px 20px;
    position: relative;
    bottom: 27px;

}

.menu {
    background-color: #fff;
    position: relative;
    bottom: 130px;

}

.menu a {
    text-decoration: none;
    color: white;
}

/* Abaixo está o CSS que define toda a estrutura e estilo dos botões que ficam no cabeçalho do site.*/
.barradenavegacao button {
    font-size: 12px;
    color: #e1e1e1;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;

}

.barradenavegacao button:hover,
.barradenavegacao button:focus {
    color: #fff;
}

.barradenavegacao button:focus:after,
.barradenavegacao button:hover:after {
    width: 100%;
    left: 0%;
}

.barradenavegacao button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Abaixo está o CSS do rodapé da página.*/
footer {
    background-color: #001A53;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    height: 135px;
}

/* Abaixo está o CSS da primeira coluna da grid do rodapé.*/
footer .coluna1,
.coluna1 li {
    margin: 0;
    list-style: none;
    text-align: center;
    display: inline;
    margin-left: 10px;
}

/* Abaixo está o CSS da segunda coluna da grid do rodapé.*/
.coluna2 a {
    text-decoration: none;
    color: white;
}

.coluna2 {
    position: relative;
    margin-top: 33px;
    left: 40%;
    list-style: none;
}

/* Abaixo o CSS para definir o tamanho e posicionamento da logo do site no rodapé da página.*/
footer img {
    position: relative;
    bottom: 10px;
    width: 150px;
    margin-left: 40px;
    height: 150px;
}

/* Abaixo o css para definir o estilo dos ícones das redes sociais do site.*/
.instagram-icon,
.facebook-icon,
.email-icon {
    color: white;
    font-size: 30px;
}

.final-pagina {
    color: white;
    background-color: black;
    margin: 0;
    text-align: center;
}